/* Formatting specific to the BankAnalytics application */
body {
	padding: 10px;
}

h1 {
	margin: 10px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 3em;
}

/* main panel */
.mainPanel {
	width: 100%;
	margin: auto;
	padding: 10px;
}

/* statements list flex table */
.statementsTable {
	width: 90%;
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	margin: 10px auto;
	color: white;
}

.statementsTable td {
	border: 1px solid silver;
	color: white;
	padding: 5px;
}

/* statements flex table header row */
.statementsTableHeader td {
	background: url("images/hborder.png") repeat-x 0px -25px;
	/*background-color: #2062B8;*/
	color: white;
	font-style: italic;
	font-weight: bold;
	padding: 5px;
}

/* statements list, the Remove button */
.gwt-Button-remove {
	width: 100px;
}

/* Add Transaction panel */
.addPanel {
	margin: 10px 20px 15px 10px;
}